/**
div{
    border: 1px solid black;
}
**/

#idCardPresupuesto, #inputPresupuesto{
    border: 1px solid green;
    background: lightgreen;
}

#idCardEgreso, #inputNameEgreso, #inputMontoEgreso{
    border: 1px solid darkred;
    background: orangered;
}